<template>
    <div :id="id" style="width: 100%; height: 100%;"></div>
</template>
<script>
const echarts = require('echarts');
export default {
    name: 'funnelEchart',
    props: {
        id: {
            type: String,
            default: 'echart2'
        },
        chartType: {
            type: String,
            default: 'line'
        },
        title: {
            type: Object,
            default () {
                var obj = {
                    text: '柱状图',
                    subtext: '纯属虚构',
                    x:'center'
                };
                if(this.chartType === 'line'){
                    obj.text = '折线图';
                }else if(this.chartType === 'bat'){
                    obj.text = '柱状图';
                }else if(this.chartType === 'pie'){
                    obj.text = '饼状图';
                }else if(this.chartType === 'funnel'){
                    obj.text = '漏斗图';
                }
                return obj;
            }
        },
        xData: {
            type: Array,
            default(){
                return ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'];
            }
        },
        yData: {
            type: Array,
            default(){
                return [120, 200, 150, 80, 70, 110, 130];
            }
        }
    },
    data(){
        return {
            option: null,
            barOption: {
                title : {
                    text: '柱状图',
                    subtext: '纯属虚构',
                    x:'center'
                },
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [120, 200, 150, 80, 70, 110, 130],
                    type: 'bar'
                }]
            },
            lineOption: {
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: [820, 932, 901, 934, 1290, 1330, 1320],
                    type: 'line',
                    areaStyle: {}
                }]
            },
            pieOption: {
                title : {
                    text: '某站点用户访问来源',
                    subtext: '纯属虚构',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
                },
                series : [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:335, name:'直接访问'},
                            {value:310, name:'邮件营销'},
                            {value:234, name:'联盟广告'},
                            {value:135, name:'视频广告'},
                            {value:1548, name:'搜索引擎'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            },
            funnelOption: {
                title: {
                    text: '漏斗图',
                    subtext: '纯属虚构'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}%"
                },
                toolbox: {
                    feature: {
                        dataView: {readOnly: false},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                legend: {
                    data: ['展现','点击','访问','咨询','订单']
                },
                calculable: true,
                series: [
                    {
                        name:'漏斗图',
                        type:'funnel',
                        left: '10%',
                        top: 60,
                        //x2: 80,
                        bottom: 60,
                        width: '80%',
                        // height: {totalHeight} - y - y2,
                        min: 0,
                        max: 100,
                        minSize: '0%',
                        maxSize: '100%',
                        sort: 'descending',
                        gap: 2,
                        label: {
                            show: true,
                            position: 'inside'
                        },
                        labelLine: {
                            length: 10,
                            lineStyle: {
                                width: 1,
                                type: 'solid'
                            }
                        },
                        itemStyle: {
                            borderColor: '#fff',
                            borderWidth: 1
                        },
                        emphasis: {
                            label: {
                                fontSize: 20
                            }
                        },
                        data: [
                            {value: 60, name: '访问'},
                            {value: 40, name: '咨询'},
                            {value: 20, name: '订单'},
                            {value: 80, name: '点击'},
                            {value: 100, name: '展现'}
                        ]
                    }
                ]
            }
        }
    },
    mounted(){
        this.myEchart();
    },
    methods: {
        myEchart(){
            let myEchart = echarts.init(document.getElementById(this.id));
            if(this.chartType === 'line'){
                this.option = this.lineOption;
            }else if(this.chartType === 'bar'){
                this.option = this.barOption;
            }else if(this.chartType === 'pie'){
                this.option = this.pieOption;
            }else if(this.chartType === 'funnel'){
                this.option = this.funnelOption;
                myEchart.setOption(this.option);
                return;
            }
            this.option.title = this.title;
            this.option.xAxis.data = this.xData;
            this.option.yAxis.data = this.yData;
            //绘制图表
            myEchart.setOption(this.option);
        }
    }
}
</script>
