@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2zivp3');
  src:  url('fonts/icomoon.eot?2zivp3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2zivp3') format('truetype'),
    url('fonts/icomoon.woff?2zivp3') format('woff'),
    url('fonts/icomoon.svg?2zivp3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e63d";
}
.icon-mima:before {
  content: "\e603";
}
.icon-quanxian:before {
  content: "\e6ad";
}
.icon-zhanghu:before {
  content: "\e61f";
}
.icon-rizhi-:before {
  content: "\e666";
}
.icon-home:before {
  content: "\e502";
}
.icon-gouwuche:before {
  content: "\e503";
}
