@font-face {
    font-family: "iconfont";
    src: url('../../static/css/iconfonts/icomoon.eot'); /* IE9*/
    src: url('../../static/css/iconfonts/icomoon.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../static/css/iconfonts/icomoon.woff') format('woff'), /* chrome, firefox */
    url('../../static/css/iconfonts/icomoon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../static/css/iconfonts/icomoon.svg#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-yonghu:before {
    content: "\e63d";
  }
  
  .icon-mima:before {
    content: "\e603";
  }

  .icon-quanxian:before {
    content: "\e6ad";
  }
  
  .icon-zhanghu:before {
    content: "\e61f";
  }
  
  .icon-rizhi-:before {
    content: "\e666";
  }
  
  .icon-home:before {
    content: "\e502";
  }
  
  .icon-gouwuche:before {
    content: "\e503";
  }