<template>
    <div class="error">
        404 页面没有找到
    </div>
</template>

<script>
export default {
    name: 'Error',
    data(){
        return {
            
        }
    }
}
</script>

<style scoped>
    .error {
        font-size: 30px;
        text-align: center;
        margin: 0 auto;
        color: red;
    }
</style>


