<template>
 <el-container class="home-container">
  <el-aside width="160px" class="aside">
    <div class="aside-header">
        <div class="app-icon">
            <img src="../assets/logo.png" alt="">
        </div>
        <h1 class="app-title">VUE ADMIN</h1>
    </div>
    <el-menu router>
        <el-menu-item v-for="menu in menuData" :key="menu.path" :index="menu.path"
        v-if="menu.leaf && menu.role.includes(role)" style="text-align: left;">
            <template slot="title">
                <i class="iconfont" :class="menu.icon"></i>
                {{ menu.title }}
            </template>
        </el-menu-item>
        <el-submenu :index="menu.path" v-for="menu in menuData" :key="menu.path" 
        v-if="!menu.leaf && menu.role.includes(role)" style="text-align: left;">
            <template slot="title">
                <i class="iconfont" :class="menu.icon"></i>
                {{ menu.title }}
            </template>
            <el-menu-item :index="item.path" v-for="item in menu.children" :key="item.id">
                {{ item.title }}
            </el-menu-item>
        </el-submenu>
    </el-menu>
  </el-aside>
  
  <el-container>
    <el-header class="home-header" height="100px">
      <span style="font-size: 20px;">{{greeting}},{{ username }}欢迎您登陆本系统！</span>
      <el-dropdown width="100px" @command="handleCommand">
        <div class="avatar">
            <img :src="avatar" alt="头像">
        </div>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item v-for="item in userSetting" :key="item.id"
          :command="item.id" 
          >
              {{ item.title }}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-header>
    <el-main style="overflow: hidden;">
        <el-breadcrumb separator="/">
            <el-breadcrumb-item v-for="item in $route.matched" :key="item.path" :to="item.path">
                {{ item.name }}
            </el-breadcrumb-item>
        </el-breadcrumb>
        <div style="width: 100%; height: 20px;"></div>
       <router-view/>
    </el-main>
  </el-container>
  <update-avatar v-if="avararShow" @onupload="onupdateAvatar" @onclose="updateClose"></update-avatar>
  <my-info ref="myinfo"></my-info>
  <change-password ref="dlaPwd"></change-password>
</el-container>
</template>

<script>
import utils from '@/utils/utils.js';
import updateAvatar from '@/components/updateAvatar.vue';
import myInfo from '@/components/myInfo.vue';
import changePassword from '@/components/changePassword.vue';
export default {
    name: 'Home',
    data(){
        return {
            avararShow: false,
            username: '',
            avatar: '',
            role: '',
            greeting: utils.getTimeGreeting(),
            menuData: [
                {
                    path: '/index',
                    title: '首页',
                    role: ['admin','edit'],
                    icon: 'icon-home',
                },
                {
                    path: '2',
                    title: '账户管理',
                    role: ['admin'],
                    icon: 'icon-zhanghu',
                    children: [
                        { path: '/accountlist', title: '账户信息'},
                        { path: '/accountlist', title: '账户信息'},
                    ]
                },
                {
                    path: '3',
                    title: '用户管理',
                    role: ['admin','edit'],
                    icon: 'icon-zhanghu',
                    children: [
                        { path: '/userlist', title: '用户信息'},
                    ]
                },
                {
                    path: '4',
                    title: '组件应用',
                    role: ['admin','edit'],
                    icon: 'el-icon-menu',
                    children: [
                        { path: '/markdown', title: 'markdown'}
                    ]
                }
            ],
            userSetting: [
                {'id': 1001, 'title': '我的信息'},
                {'id': 1002, 'title': '更改密码'},
                {'id': 1003, 'title': '更改头像'},
                {'id': 1004, 'title': '退出登陆'}
            ]
        }
    },
    mounted(){
        this.getLoginUserInfo();
    },
    methods: {
        //得到登陆用户信息
        getLoginUserInfo(){
            let user = JSON.parse(localStorage.getItem('user'));
            this.username = user.rname;
            this.avatar = require(`../assets/${user.avatar}`);
            this.role = user.role;
        },
        //
        handleCommand(command){
            if(command === 1004){
                this.loginout();
            }else if(command === 1003){
                this.updateAvatar();
            }else if(command === 1001){
                this.myInfoShow();
            }else if(command === 1002){
                this.editPassword();
            }
        },
        editPassword(){
            this.$refs.dlaPwd.show();
        },
        myInfoShow(){
            this.$refs.myinfo.show();
        },
        //上传头像
        updateAvatar(){
            this.avararShow = true;
        },
        onupdateAvatar(url){
            this.avatar = url.imageUrl;
            this.avararShow = false;
        },
        updateClose(){
            this.avararShow = false;
        },
        //退出登陆
        loginout(){
            this.$confirm('此操作将退出登陆，是否继续？','提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    msg: '退出成功!'
                });
                // localStorage.removeItem('user');
                this.$router.push({path: '/login'});
            }).catch(()=> {
                this.$message({
                    type: 'info',
                    msg: '取消退出'
                });
            });
        },
    },
    components: {
        updateAvatar,
        myInfo,
        changePassword
    }
}
</script>
<style scoped>
    .home-container {
        height: 100%; 
        border: 1px solid #eee;
    }
    .aside {
        border-right: 1px solid #eee;
        background-color: #fff; 
    }
    .aside-header {
        width: 100%;
        height: 150px;
    }
    .app-icon {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    .app-icon img {
        width: 100%;
    }
    .app-title {
        font-size: 18px;
        color: #409EFF;
    }
    .home-header {
        width: 100%;
        border-bottom: 5px solid #409EFF; 
        text-align: right; 
        font-size: 12px;
    }
    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 25px;
    }
    .avatar img {
        width: 100%;
    }
</style>

