<template>
    <div class="chart-container">
        <!-- <el-row style="margin-top: 20px;">
            <div class="welinfo">
                <span><img src="http://demo.cssmoban.com/cssthemes4/zwtp_2_gi/images/sun.png" alt="天气"></span>
                <b>Admin，欢迎使用XXX后台管理平台</b>
            </div>
            <div class="welinfo">
                <span><img src="http://demo.cssmoban.com/cssthemes4/zwtp_2_gi/images/time.png" alt="时间"/></span>
                <i>您上次登录的时间：2018-10-10 15:22</i>
            </div>
            <div class="xline"></div>
        </el-row> -->
        <div class="echart-item">
            <pie-echart></pie-echart>
        </div>
        <div class="echart-item">
            <com-echart id="barechart" chartType="bar" :title="title" :xData="xData" :yData="yData"></com-echart>
        </div>
        <div class="echart-item">
            <com-echart id="echart3" chartType="line"></com-echart>
        </div>
        <div class="echart-item">
            <com-echart id="echart4" chartType="funnel"></com-echart>
        </div>
    </div>
</template>
<script>
import pieEchart from '@/components/echarts/pieEchart';
import comEchart from '@/components/echarts/comEchart';
export default {
    data(){
        return {
            xData: ['周日','周一','周二','周三','周四','周五','周六'],
            yData: [10,20,30,40,50,20,30],
            title: {
                text: '一周数据',
                subtext: '纯属虚构',
                x:'center'
            }
        }
    },
    components: {
        pieEchart,
        comEchart
    },
    mounted(){
        
    }
}
</script>
<style>
    .chart-container .echart-item {
        float: left;
        width: 50%;
        height: 500px;
    }
    .xline {
        width: 100%;
        height: 1px;
        background-color: #eee;
        margin-top: 30px;
        margin-bottom: 20px;
    }
</style>

