<template>
    <el-dialog title="修改密码" :visible.sync="dialogVisible" :before-close="handleColse" width="60%">
        <el-form ref="editform" :model="editform" :rules="rules" label-position="left" label-width="120px" >
            <el-form-item label="账户" prop="account">
                <el-input v-model="editform.account"></el-input>
            </el-form-item>
            <el-form-item label="手机号码" prop="phone" v-if="eleShow">
                <el-input v-model="editform.phone"></el-input>
            </el-form-item>
            <el-form-item label="原密码" prop="password" v-if="!eleShow">
                <el-input v-model="editform.password" type="password"></el-input>
            </el-form-item>
            <el-form-item label="新密码" prop="password1">
                <el-input v-model="editform.password1" type="password"></el-input>
            </el-form-item>
            <el-form-item label="重复密码" prop="password2">
                <el-input v-model="editform.password2" type="password"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handleColse">取 消</el-button>
            <el-button type="primary" @click="caveUser('editform')">确 定</el-button>
        </span>
    </el-dialog>
</template>
<script>
import { editPassword } from '../api/api';

export default {
    name: 'changePassword',
    props: {
        type: {
            type: String,
            default: 'changePwd'
        }
    },
    data(){
        const checkPhone = (rule, value, callback) => {
            let reg = /^1[3-9][0-9]{9}$/;
            if(!value){
                return callback(new Error('电话不能为空！'));
            }else if(!reg.test(value)){
                return callback(new Error('请输入正确的电话号码！'));
            }else{
                return callback();
            }
        }
        return {
            dialogVisible: false,
            eleShow: false,
            userid: '',
            editform: {
                account: '',
                password: '',
                password1: '',
                password2: ''
            },
            rules: {
                account: [
                    { required: true, type: 'string', message: '请输入账户', triggle: 'blur'}
                ],
                phone: [
                    { required: true, triggle: 'blur', validator: checkPhone}
                ],
                password: [
                    { required: true, message: '密码不能为空！', triggle: 'blur'}
                ],
                password1: [
                    { required: true, message: '密码不能为空！', triggle: 'blur'}
                ],
                password2: [
                    { required: true, message: '密码不能为空！', triggle: 'blur'}
                ]
            }
        }
    },
    mounted(){
        this.loadEditData();
        if(this.type === 'forgetPwd'){
            this.eleShow = true;
        }
    },
    methods: {
        //重新渲染form
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        //关闭按钮
        handleColse(){
            this.dialogVisible = false;
            this.resetForm('editform');
            this.userid = '';
            this.editform = {};
        },
        //dialog显示
        show(){
            this.dialogVisible = true;
        },
        //保存
        caveUser(formName){
            this.$refs[formName].validate((valid) => {
                if(valid){
                   if(this.editform.password1 !== this.editform.password2){
                       this.$message({
                           type: 'error',
                           message: '两次密码不相同!'
                       });
                       return ;
                   }
                   let params = {};
                   let tipInfo = '';
                   if(this.type === 'forgetPwd'){
                        params = {
                            username: this.editform.account,
                            phone: this.editform.phone,
                            newPassword: this.editform.password1
                        };
                        tipInfo = '是否确认重置密码！';
                   }else{
                        params = {
                            username: this.editform.account,
                            password: this.editform.password,
                            newPassword: this.editform.password1
                        };
                        tipInfo = '是否确认修改密码！';
                   } 
                    this.$confirm(tipInfo, '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            editPassword(params).then(res => {
                                this.$message({
                                    type: 'success',
                                    message: res.msg
                                });
                            }).catch(err => {
                                console.log(err);
                            });
                        }).catch(() => {
                            this.$message({
                                type: 'info',
                                message: '已放弃修改'
                            });          
                    });
                  
                }else{
                    this.$message({
                        type: 'error',
                        message: '请输入必填项！！！'
                    });
                }
            });
        },
        //加载用户数据
        loadEditData(){
            let user = JSON.parse(localStorage.getItem('user'));
            this.editform.account = user ? user.username : '';
            this.editform.password = user ? user.password : '';
        }
    }
}
</script>
