<template>
    <div class="captcha">
        <canvas id="mycanvas" width="100" height="38"></canvas>
    </div>
</template>

<script>
export default {
    name: 'createCaptcha',
    props: {
        text: {
            type: String,
            default: ''
        }
    },
    data(){
        return {

        }
    },
    mounted(){
        this.createCaptcha();
    },
    methods: {
        createCaptcha(){
            let mycanvas = document.getElementById('mycanvas');
            let ctx = mycanvas.getContext('2d');
            ctx.strokeStyle = "#1187F7";
            ctx.font="30px Arial";
            ctx.strokeText(this.text,100,150);
            // console.log(ctx);
        }
    }
}
</script>

<style>
    .captcha {
        position: absolute;
        right: -4px;
        top: 1px;
        height: 38px;
        background-color: #eee;
    }
</style>


