<template>
    <div>
        <input id="upload" type="file" 
        @change="importfxx()"  
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
    </div>
</template>
<script>
import import2Excel from '@/vendor/import2Excel.js';
export default {
    name: 'importExcel',
    props: {
        excelTitleToEnglish: {
            type: Object,
            default(){
                return {}
            }
        }
    },
    methods: {
        importfxx(){
            let inputDOM = document.getElementById('upload');
            import2Excel.importf({
                inputDOM: inputDOM
            }).then(res => {
                let data = import2Excel.dateTransition(res,this.excelTitleToEnglish);
                console.log(data);
            });
        },
    }
}
</script>
