<template>
  <div class="login">
    <h3 class="title">登陆后台管理系统</h3>
    <el-form ref="form" :model="form" :rules="rules" label-position="left" label-width="0" class="login-content">
      <el-form-item prop="account">
        <el-input v-model="form.account" autocomplete="off" placeholder="请输入用户名">
           <i slot="prefix" class="iconfont icon-yonghu"></i>
        </el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="form.password" :type="pwdType" autocomplete="off" placeholder="请输入密码">
          <i class="el-icon-view el-input__icon" slot="suffix" @click="showPassword"></i>
          <i slot="prefix" class="iconfont icon-mima"></i>
        </el-input>
      </el-form-item>
      <!-- <el-form-item prop="captcha">
        <el-input v-model="form.captcha" autocomplete="off" placeholder="请输入验证码">
          <create-captcha slot="suffix" :text="form.captcha"></create-captcha>
        </el-input>
      </el-form-item> -->
      <el-checkbox label="记住密码" v-model="checked" class="float-lt"></el-checkbox>
      <span class="float-rt danger" @click="changePwd">忘记密码</span>
      <el-form-item style="width: 100%; margin-top: 50px; ">
        <el-button type="primary" style="width: 100%;" @click.native.prevent="login" :loading="loading">登陆</el-button>
      </el-form-item>
    </el-form>
    <change-password type="forgetPwd" ref="dalForPwd"></change-password>
  </div>
</template>

<script>
import { getLoginUsers, getCaptcha } from '../api/api';
import utils from '@/utils/utils.js';
import createCaptcha from '@/components/createCaptcha';
import changePassword from '@/components/changePassword';
export default {
  name: 'Login',
  data () {
    return {
      form: {
        account: '',
        password: '',
        captcha: ''
      },
      checked: true,
      loading: false,
      pwdType: 'password',
      rules: {
        account: [
          { required: true, message: '请输入账户名称', trigger: 'blur'},
          { min: 1, max: 15, message: '长度在3到15个字符', trigger: 'blur'}
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur'}
        ]
      }
    }
  },
  mounted(){
    // this.form.account = this.getCookie('username');
    // this.form.password = this.getCookie('password');
    this.form.account = this.$store.state.loginUser.username;
    this.form.password = this.$store.state.loginUser.password;
    this.getCaptcha();
  },
  methods: {
    changePwd(){
      this.$refs.dalForPwd.show();
    },
    showPassword(){
      this.pwdType === '' ? (this.pwdType = 'password') : (this.pwdType = '');
    },
    getCaptcha(){
      getCaptcha().then(res => {
        let captcha = res.captcha.join('');
        this.form.captcha = captcha;
        console.log(res,this.form.captcha);
      });
    },
    login(){
      this.$refs.form.validate((valid) => {
        if(valid){
          this.loading = true;
          if(this.checked){
            //cookie方式记住密码
            // this.setCookie('username',this.form.account,1);
            // this.setCookie('password',this.form.password,1);
            // //vuex方式记住密码
            this.$store.commit('caveUserNameAndPwd',{
              'username': this.form.account,
              'password': this.form.password
            });
          }else{
            // this.clearCookie('username');
            // this.clearCookie('password');
            this.$store.commit('caveUserNameAndPwd',{
              'username': '',
              'password': ''
            });
          }
          let pwd = utils.CalcuMD5(this.form.password);
          let loginParams = { account: this.form.account, password: pwd };
          getLoginUsers(loginParams).then(res => {
            if(res.code === 200){
              this.$message({
                type: 'success',
                message: res.msg
              });
              localStorage.setItem('user',JSON.stringify(res.user)); 
              this.$router.push({path: '/index'});
              this.loading = false;
            }else{
              this.$message({
                type: 'error',
                message: res.msg
              });
              this.loading = false;
            }
          }).catch(error => {
            console.log(error);
          })
        }
      });
    },
    //建立cookie
    setCookie(name,text,exdays){
      let exdate = new Date(); //获取时间
      exdate.setTime(exdate.getTime() + 24 * 60 * 60 * 1000 * exdays); //保存天数
      //字符串拼接cookie
      window.document.cookie = name + "=" + text + ";path=/;expires=" + exdate.toGMTString();
    },
    //读取cookie
    getCookie(key){
      if(document.cookie.length > 0) {
        let result = {};
        let arr = document.cookie.split('; '); //将cookie中的字符串拆分成数组
        for(let i = 0; i < arr.length; i++){
          let arr2 = arr[i].split('='); //再次分割
          //查找对应的值
          if(arr2[0] === key){
            return arr2[1];
          }
        }
      }
    },
    //清除cookie
    clearCookie(key){
      this.setCookie(key,'',-1);//修改2值都为空，天数为负1天就好了
    }
  },
  components: {
    createCaptcha,
    changePassword
  }
}
</script>

<style lang="less" scoped>
  .login {
    width: 500px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0 3px 16px -5px #666;
    margin: 150px auto;
    .title {
      height: 120px;
      line-height: 120px;
      text-align: center;
    }
    .login-content {
      padding: 0 30px;
      overflow: hidden;
      .float-lt {
        float: left;
        height: 40px;
      }
      .float-rt {
        float: right;
      }
      .danger {
        color: red;
        cursor: pointer;
      }
    }
  }
</style>

