<template>
    <div class="com-from" v-show="isShow">
        <div class="mask" @click="handleClose" ></div>
        <div class="from-container">
            <p class="title">我的信息</p>
            <el-form ref="editform" :model="editform" :rules="rules" label-position="left" label-width="120px" >
               <el-form-item label="账户名称">
                   <el-input v-model="editform.username" readonly></el-input>
               </el-form-item>
               <el-form-item label="姓名">
                   <el-input v-model="editform.rname" readonly></el-input>
               </el-form-item>
               <el-form-item label="密码">
                   <el-input v-model="editform.password" type="password" readonly></el-input>
               </el-form-item>
               <el-form-item label="权限">
                   <el-input v-model="editform.role" readonly></el-input>
               </el-form-item>
               <el-form-item label="手机号码">
                   <el-input v-model="editform.phone" readonly></el-input>
               </el-form-item>
            </el-form>
            <!-- <div class="from-btn">
                <div class="from-btn-rt">
                    <el-button type="infor">取消</el-button>
                    <el-button type="primary">确认</el-button>
                </div>
            </div> -->
            <i class="el-icon-close close-position" @click="handleClose"></i>
        </div>
    </div>
</template>

<script>
export default {
    name: 'comFrom',
    props: {
        
    },
    data() {
        return {
            editform: {},
            rules: {},
            isShow: false
        }
    },
    mounted(){
        this.editform = JSON.parse(localStorage.getItem('user'));
    },
    methods: {
        handleClose() {
            this.isShow = false;
        },
        show(){
            this.isShow = true;
        }
    }
}
</script>
<style scoped>
    .com-from {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
    }
    .mask {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }
    .from-container {
        position: absolute;
        top: 10vh;
        left: 50%;
        width: 40%;
        padding: 20px;
        border-radius: 5px;
        margin-left: -20%;
        background-color: #fff;
    }
    .title {
        margin-top: 0px;
        font-size: 16px;
    }
    .from-btn-rt {
        float: right;
    }
    .close-position {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 22px;
    }
</style>

