<template>
    <div class="update-avatar">
        <el-upload
        class="avatar-uploader"
        action="https://jsonplaceholder.typicode.com/posts/"
        :show-file-list="false"
        :on-success="handleAvatarSuccess"
        :before-upload="beforeAvatarUpload">
        <img v-if="imageUrl" :src="imageUrl" class="avatar">
        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
        <div class="upload-btn" v-if="imageUrl">
            <el-button type="info" @click="uploadCancel">取消</el-button>
            <el-button type="primary" @click="uploadAvatar">确定</el-button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'updateAvatar',
    data(){
        return {
            imageUrl: ''
        }
    },
    methods: {
        handleAvatarSuccess(res,file){
            this.imageUrl = URL.createObjectURL(file.raw);
            console.log(res,file,this.imageUrl);
        },
        beforeAvatarUpload(){

        },
        uploadAvatar(){
            this.$emit('onupload',{imageUrl: this.imageUrl});
        },
        uploadCancel(){
            this.$emit('onclose');
        }
    }
}
</script>
<style>
  .update-avatar {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
      z-index: 99999;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    margin-top: 100px;
    left: 50%;
    margin-left: -139px;
  }
  .upload-btn {
    position: relative;
    left: 50%;
    margin-left: -126px;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>