<template>
    <el-dialog title="用户信息" :visible.sync="dialogVisible" :before-close="handleColse" width="60%">
        <el-form ref="editform" :model="editform" :rules="rules" label-position="left" label-width="120px" >
            <el-row :gutter="50">
                <el-col :span="12">
                    <el-form-item label="用户名称" prop="name">
                        <el-input v-model="editform.name" placeholder="请输入用户名称" autocomplete="on"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="性别">
                        <!-- <el-select v-model="editform.sex" placeholder="请选择性别">
                            <el-option v-for="option in sexOptions" :key="option.val" :label="option.label" :value="option.val">
                            </el-option>
                        </el-select> -->
                        <el-radio-group v-model="editform.sex">
                            <el-radio v-for="option in sexOptions" :key="option.val" :label="option.val">{{option.label}}</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="50">
                <el-col :span="12">
                    <el-form-item label="电话" prop="phone">
                        <el-input v-model.number="editform.phone" placeholder="请输入用户电话"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="生日" prop="birth">
                        <el-date-picker 
                        type="date" 
                        v-model="editform.birth" 
                        placeholder="请选择日期" 
                        :picker-options="pickerOptions0"
                        style="width: 100%;">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="50">
                <el-col :span="24">
                    <el-form-item label="省市区/县">
                        <el-cascader
                            :options="options"
                            @active-item-change="handleItemChange"
                            :props="props"
                            separator=" "
                            clearable
                            style="width: 100%;"
                        ></el-cascader>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="50">
                <el-col :span="24">
                    <el-form-item label="省市区/县">
                        <el-cascader
                             v-model="selectedOptions"
                            :options="options1"
                            @change="handleChange"
                            :props="props1"
                            separator=" "
                            clearable
                            style="width: 100%;"
                        ></el-cascader>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="50">
                <el-col :span="24">
                    <el-form-item label="地址">
                        <el-input v-model="editform.address" placeholder="请输入用户地址"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handleColse">取 消</el-button>
            <el-button type="primary" @click="caveUser('editform')">确 定</el-button>
        </span>
    </el-dialog>
</template>
<script>
import { getUserData, addUserData, editUserData , getCitysData, getAllCitysData } from '../../api/api';
var moment = require('moment');
export default {
    name: 'user-edit',
    data(){
        const checkPhone = (rule, value, callback) => {
            let reg = /^1[3-9][0-9]{9}$/;
            if(!value){
                return callback(new Error('电话不能为空！'));
            }else if(!reg.test(value)){
                return callback(new Error('请输入正确的电话号码！'));
            }else{
                return callback();
            }
        }
        return {
            dialogVisible: false,
            userid: '',
            editform: {
                provinceName: '',
                cityName: '',
                countyName: ''
            },
            provinceId: '',
            cityId: '',
            countyId: '',
            selectedOptions: [],
            options: [],
            props: {
                value: 'label',
                children: 'cities'
            },
            options1: [],
            props1: {
                value: 'Name',
                label: 'Name',
                children: 'level'
            },
            sexOptions: [
                { label: '男', val: 1 },
                { label: '女', val: 0 }
            ],
            rules: {
                name: [
                    { required: true, type: 'string', message: '请输入姓名', triggle: 'blur'}
                ],
                phone: [
                    { required: true, triggle: 'blur', validator: checkPhone}
                ]
            },
            pickerOptions0: {
                disabledDate(time) {
                    return time.getTime() > Date.now() - 8.64e6
                }
            }
        }
    },
    mounted(){
        this.loadCityData(this.provinceId,this.cityId,this.countyId,this.options);
        this.loadAllCityData();
    },
    methods: {
        handleChange(val){
            if(val[0]){
                this.editform.provinceName = val[0];
            }
            if(val[1]){
                this.editform.cityName = val[1];
            }
            if(val[2]){
                this.editform.countyName = val[2];
            }
        },
        handleItemChange(val){
            // console.log(val);
            let provinceIdx = 0;
            let cityIdx = 0;
            let countyIdx = 0;
            if(val.length === 1){
                this.options.forEach((item,index) => {
                    if(item.label === val[0]){
                        provinceIdx = index;
                        this.provinceId = item.value;
                    }
                });
                this.cityId = '';
                this.countyId = '';
                this.loadCityData(this.provinceId,this.cityId,this.countyId,this.options[provinceIdx].cities);
            }else if(val.length === 2){
                this.options.forEach((ites,index) => {
                    if(ites.label === val[0]){
                        provinceIdx = index;
                        this.provinceId = ites.value;
                        ites.cities.forEach((item,idx) => {
                            if(item.label === val[1]){
                                cityIdx = idx;
                                this.cityId = item.value;
                            }
                        });
                    }
                });
                this.countyId = '';
                this.loadCityData(this.provinceId,this.cityId,this.countyId,this.options[provinceIdx].cities[cityIdx].cities);
            }else{
                this.options.forEach((ites,index) => {
                    if(ites.label === val[0]){
                        provinceIdx = index;
                        this.provinceId = ites.value;
                        ites.cities.forEach((item,idx) => {
                            if(item.label === val[1]){
                                cityIdx = idx;
                                this.cityId = item.value;
                                item.cities.forEach((county,i) => {
                                    if(county.label === val[2]){
                                        countyIdx = index;
                                        this.countyId = county.value;
                                    }
                                })
                            }
                        });
                    }
                });
            }
        },
        loadCityData(provinceId,cityId,countyId,options){
            let params = {
                provinceId: provinceId,
                cityId: cityId,
                countyId: countyId
            };
            getCitysData(params).then(res => {
                // console.log(res);
                res.cityList.forEach(city => {
                    if(city.islevel){
                        options.push({
                            value: city.Code,
                            label: city.Name
                        });
                    }else{
                        options.push({
                            value: city.Code,
                            label: city.Name,
                            cities: []
                        });
                    }
                });
            }).catch(err => {
                console.log(err);
            });
        },
        loadAllCityData(){
            getAllCitysData().then(res => {
                this.options1 = res.cityList;
                // console.log(this.options1);
            }).catch(err => {
                console.log(res);
            })
        },
        //重新渲染form
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        //关闭按钮
        handleColse(){
            this.dialogVisible = false;
            this.resetForm('editform');
            this.userid = '';
            this.editform = {};
        },
        //dialog显示
        show(id){
            this.dialogVisible = true;
            this.userid = id;
            if(this.userid){
                this.loadEditData();
            }
        },
        //保存
        caveUser(formName){
            this.$refs[formName].validate((valid) => {
                if(valid){
                   let birth = this.editform.birth ? moment().format('YYYY-DD-MM') : '';
                   let params = {
                       name: this.editform.name,
                       sex: this.editform.sex,
                       phone: this.editform.phone,
                       birth: birth,
                       address: this.editform.address,
                       province: this.editform.provinceName,
                       city: this.editform.cityName,
                       county: this.editform.countyName
                   };
                   if(this.userid){
                       params.id = this.userid;
                       console.log(params);
                       editUserData(params).then(res => {
                            this.$message({
                               type: 'success',
                               message: res.msg
                           });
                           this.handleColse();
                           this.$emit('onUpdata');
                       }).catch(err => {
                           console.log(err);
                       });
                   }else{
                       addUserData(params).then(res => {
                           this.$message({
                               type: 'success',
                               message: res.msg
                           });
                           this.handleColse();
                           this.$emit('onUpdata');
                       }).catch(err => {
                           console.log(err);
                       });
                   }
                }else{
                    this.$message({
                        type: 'error',
                        message: '请输入必填项！！！'
                    });
                }
            });
        },
        //加载用户数据
        loadEditData(){
            getUserData(this.userid).then(res => {
                this.editform = res.user;
                this.editform.birth = this.parserDate(this.editform.birth);
                this.selectedOptions = [];
                if(this.editform.province){
                    this.selectedOptions.push(this.editform.province);
                }
                if(this.editform.city){
                    this.selectedOptions.push(this.editform.city);
                }
                if(!!this.editform.county){
                    this.selectedOptions.push(this.editform.county);
                }
                // this.editform.sex = res.user.sex === 0 ? '女' : '男';
            }).catch(err => {
                console.log(err);
            });
        },
        //兼容ie(new Data()) 将字符串转为时间对象
		parserDate(date) {  
            var t = Date.parse(date);  
            if (!isNaN(t)) {  
                return new Date(Date.parse(date.replace(/-/g, "/")));  
            } else {  
                return new Date();  
            }  
        }
    }
}
</script>
