<template>
    <div>
        <el-form v-model="editform" label-width="80px">
            <el-row style="background: #eee; padding-top: 20px;">
                <el-col :span="8">
                    <el-form-item label="用户姓名">
                        <el-input v-model="editform.username" placeholder="请输入有户姓名"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8" style="margin-left: 30px;">
                    <el-button type="primary" @click="handleSelect">查询</el-button>
                    <el-button type="primary" @click="handleAddOrEdit">新增</el-button>
                    <el-button type="primary" @click="handleExport">导出表格</el-button>
                </el-col>
            </el-row>
        </el-form>
        <el-table :data="tableData" style="width: 100%" max-height="400" 
        @selection-change="handleSelectionChange" v-loading="loading">
            <el-table-column type="selection" width="40"></el-table-column>
            <el-table-column label="用户姓名" prop="name" sortable></el-table-column>
            <el-table-column label="性别" prop="sex" sortable></el-table-column>
            <el-table-column label="电话" prop="phone"></el-table-column>
            <el-table-column label="出生日期" prop="birth" sortable></el-table-column>
            <el-table-column label="地址" prop="address"></el-table-column>
            <el-table-column label="操作" width="150">
                <template slot-scope="scope">
                    <el-button
                    size="mini"
                    @click="handleAddOrEdit(scope.row)">编辑</el-button>
                    <el-button
                    size="mini"
                    type="danger"
                    @click="handleDelete(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-row style="background: #eee; padding: 10px 0px;">
            <el-col :span="6">
                <el-button type="danger" @click="batchDetete">批量删除</el-button>
            </el-col>
            <el-col :span="18">
                <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pageIndex"
                :page-sizes="[5, 10, 20, 30, 50]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
                </el-pagination>
            </el-col>
        </el-row>
        <user-edit ref="dlaUser" @onUpdata="loadUserListData"></user-edit>
        <!-- <import-excel :excelTitleToEnglish="excelTitleToEnglish"></import-excel> -->
    </div>
</template>
<script>

import { getUserListData, delUserData, getUserData } from '../../api/api';
import userEdit from '@/views/users/edit';
import importExcel from '@/components/importExcel';
export default {
    name: 'userList',
    data(){
        return {
            editform: {
                username: ''
            },
            pageIndex: 1,
            pageSize: 20,
            total: 0,
            filter: {
                name: ''
            },
            tableData: [],
            loading: false,
            delUserArr: [],
            excelTitle: ["用户姓名", "性别", "电话", "出生日期", "地址"], //表头
            excelData: ["name", "sex", "phone", "birth", "address"], //表头对应数据
            autoWidth: true,
            excelTitleToEnglish: {
                "用户姓名": "name",
                "性别": "sex",
                "电话": "phone",
                "出生日期": "birth",
                "地址": "address"
            }
        }
    },
    mounted(){
        this.loadUserListData();
    },
    methods: {
        //导出表格
        handleExport(){
            import("@/vendor/Export2Excel").then(excel => {
                let data = this.formatJson(this.excelData, this.tableData);
                let header = this.excelTitle;
                excel.export_json_to_excel({
                    header,
                    data,
                    filename: '用户管理',
                    autoWidth: this.autoWidth
                });
            });
        },
        //改变表格每一页的个数
        handleSizeChange(val){
            this.pageSize = val;
            this.loadUserListData();
        },
        //改变页数
        handleCurrentChange(val){
            this.pageIndex = val;
            this.loadUserListData();
        },
        //搜索
        handleSelect(){
            this.tableData = [];
            this.filter.name = this.editform.username;
            this.loadUserListData();
        },
        //选择删除的用户
        handleSelectionChange(rows){
            let arr = [];
            rows.forEach(row => {
                arr.push(row.id);
            });
            this.delUserArr = arr;
        },
        //新增或编辑用户
        handleAddOrEdit(row){
            if(row){
                this.$refs.dlaUser.show(row.id);
            }else{
                this.$refs.dlaUser.show();
            }
            
        },
        //批量删除用户
        batchDetete(){
            delUserData(this.delUserArr).then(res => {
                this.$message({
                    type: 'success',
                    message: res.data.msg
                });
                this.loadUserListData();
            });
        },
        //删除用户
        handleDelete(row){
            let delUser = [];
            delUser.push(row.id);
            delUserData(delUser).then(res => {
                this.$message({
                    type: 'success',
                    message: res.data.msg
                });
                this.loadUserListData();
            });
        },
        //加载用户列表数据
        loadUserListData(){
            let params = {
                filter: this.filter,
                pageIndex: this.pageIndex,
                pageSize: this.pageSize
            }
            this.tableData = [];
            this.loading = true;
            getUserListData(params).then(res => {
                // console.log(res);
                this.tableData = res.data.users;
                this.total = res.data.total;
                this.loading = false;
                this.tableData.forEach(item => {
                    item.sex = item.sex === 1 ? '男' : '女';
                    item.province = item.province ? item.province : '';
                    item.city = item.city ? item.city : '';
                    item.county = item.county ? item.county : '';
                    item.address = item.address ? item.address : '';
                    item.address = item.province + item.city + item.county + item.address;
                });
            }).catch(err => {
                this.loading = false;
                console.log(err);
            });
        },
        timeString(val){
            var reg = /[a-zA-Z]/g;
            return val.replace(reg,' ');
        },
        //洗数据
        formatJson(filterVal, jsonData) {
            return jsonData.map(v => filterVal.map(j => {
                if (j === 'timestamp') {
                return parseTime(v[j])
                } else {
                return v[j]
                }
            }));
        }
    },
    components: {
        userEdit,
        importExcel
    }
}
</script>

